.NDISinputGroup {
    display      : flex;
    flex-wrap    : wrap;
    margin       : 0 auto 20px;
    border-radius: 0;
}

.NDISinputGroup .NDISinputGroupButton {
    position: absolute;
    opacity : 0;
}

.NDISinputGroup .NDISinputGroupLabel {
    background   : var(--white);
    color        : var(--purpleHeavy);
    border       : 1px solid var(--black);
    font-size    : 1em;
    font-family  : '72 Regular';
    font-weight  : 100;
    padding      : 16px 32px;
    transition   : none;
    border-radius: 0px;
    display      : inline-block;
    cursor       : pointer;
}

.NDISinputGroup .NDISinputGroupWrapper:first-child .NDISinputGroupLabel {
    border-top-left-radius   : 4px;
    border-bottom-left-radius: 4px;
}

.NDISinputGroup .NDISinputGroupWrapper:last-child .NDISinputGroupLabel {
    border-top-right-radius   : 4px;
    border-bottom-right-radius: 4px;
}

.NDISinputGroup .NDISinputGroupLabel:hover {
    background     : var(--greyLight);
    border-color   : var(--purpleHeavy);
    color          : var(--purpleHeavy);
    text-decoration: underline;
}

.NDISinputGroupButton:checked+.NDISinputGroupLabel {
    background        : var(--purpleLight);
    border-color      : var(--purpleHeavy);
    color             : var(--black);
    -webkit-box-shadow: inset 0px 0px 9px 0px rgba(106, 40, 117, 0.7);
    box-shadow        : inset 0px 0px 9px 0px rgba(106, 40, 117, 0.7);
    font-family       : '72 Bold';
    font-weight       : 400;
    text-decoration   : none;
    padding           : 16px 30px;
}

.NDISinputGroupWrapper {
    padding-bottom: 10px;
    margin-right  : -1px;
    position      : relative;
}

.NDISinputGroupWrapper.active {
    padding-bottom: 8px;
}

.NDISinputGroupWrapper:after {
    content         : '';
    position        : absolute;
    width           : 100%;
    transition      : transform 0.15s ease-in-out;
    transform       : scaleX(0);
    height          : 2px;
    bottom          : 0;
    left            : 0;
    background-color: var(--purpleHeavy);
    transform-origin: bottom right;
}

.NDISinputGroupWrapper.active:after {
    transform       : scaleX(1);
    transform-origin: bottom left;
}