/* CARD STYLES */
.NDIScard {
    max-width    : 1200px;
    width        : auto;
    padding      : 32px;
    border       : 1px solid var(--grey);
    border-radius: 12px;
    box-shadow   : 0px 2px 10px rgb(0, 0, 0, 0.2)
}

/* Card background colours */
.NDIScardBasic {
    background-color: var(--white);
}

.NDIScardCallout {
    background-color: var(--purpleLight);
}

/* Control the width of both cards with this container */
.NDIScardContainer {
    display: block;
    width  : 600px;
}

.NDIScardContainer .NDIScardBasic {
    position: relative;
    z-index : 100;
}

/* Drawer extension styles */
.NDISdrawer {
    width      : auto;
    max-width  : 1200px;
    position   : relative;
    margin-top : -24px;
    line-height: 1.6;
    background : var(--purpleLight);
    padding    : 16px 0 0 0;
    z-index    : 0;
}

.NDISdrawer h3 {
    margin : 0;
    padding: 16px 12px 12px 12px;
}

.NDISdrawer-trigger {
    background: none;
    display   : block;
    margin    : 0;
    position  : relative;
    text-align: left;
    width     : 100%;
}

.NDISdrawer h3 button {
    border-style: none;
    padding     : 24px 18px;
}

.NDISdrawer h3 button::-moz-focus-inner {
    border: 0;
}

.NDISdrawer button .NDISdrawer-title {
    font-family   : "72 Bold";
    font-weight   : 400;
    font-size     : 16px;
    letter-spacing: 0;
    line-height   : 28px;
    color         : var(--black);
    padding-left  : 32px;
}

.NDISdrawer-title {
    display       : block;
    pointer-events: none;
    outline       : none;
}

.NDISdrawer-title:before {
    font-family: 'Material Symbols Rounded';
    content    : "\e5cf";
    font-size  : 24px;
    position   : absolute;
    left       : 18px;
    transition : 300ms linear;
}

.NDISdrawer-trigger[aria-expanded="true"] .NDISdrawer-title:before {
    transform: rotate(-180deg);
}

.NDISdrawer-panel {
    margin    : 0 36px 36px 36px;
    transition: max-height 0.15s ease-out;
    overflow  : hidden;
}

/* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
.NDISdrawer-panel[hidden] {
    display   : none;
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

.NDISdrawer-panel fieldset {
    border : 0;
    margin : 0;
    padding: 0;
}

.NDISdrawer-panel input {
    border       : 1px solid hsl(0, 0%, 62%);
    border-radius: 0.3em;
    display      : block;
    font-size    : inherit;
    padding      : 0.3em 0.5em;
}