/* FOCUS STATES: Collective focus states for keyboard and mouse interactivity */
a:focus,
a.standaloneLink:focus,
button:focus,
table.NDIStableSortable th button:focus,
input:focus,
textarea:focus,
.NDISinputGroupButton.active input+label,
.NDISinputGroup input:focus+label,
.NDISlegendInput:focus+.NDISlegendLabel,
.NDIStabs [role="tab"]:focus,
.NDIStabs [role="tab"]:active
 {
    outline       : 3px solid var(--focus);
    outline-offset: 2px;
    transition    : none;
}

.NDIStabs [role="tab"]:focus,
.NDIStabs [role="tab"]:active {
    outline-offset: 0px;
}

.NDISinputGroupButton.active input+label,
.NDISinputGroup input:focus+label {
    outline-offset: -4px;
}

a:focus:not(:focus-visible),
a.standaloneLink:focus:not(:focus-visible),
.NDISbuttonGroup span button:focus:not(:focus-visible),
input:focus:not(:focus-visible),
button:focus:not(:focus-visible),
.NDISinputGroupButton.active input+label:focus:not(:focus-visible),
.NDISinputGroup input:focus:not(:focus-visible)+label,
.NDISlegendInput:focus:not(:focus-visible)+.NDISlegendLabel,
[role="tab"]:focus:not(:focus-visible) {
    outline: 0;
}