@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0);

/* IMPORT FONTS */
@font-face {
    font-family: "72 Regular";
    src        : url('https://andrewrlaw.github.io/72-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "72 Light";
    src        : url('https://andrewrlaw.github.io/72-Light.ttf') format('truetype');
}

@font-face {
    font-family: "72 Bold";
    src        : url('https://andrewrlaw.github.io/72-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "72 Black";
    src        : url('https://andrewrlaw.github.io/72-Black.ttf') format('truetype');
}


:root {
    /* COLOUR VARIABLES */
    --purpleHeavy : #6A2875;
    --purpleLight : #F2E7F4;
    --purple      : #8631A8;
    --tealHeavy   : #007C89;
    --tealLight   : #EDF6F7;
    --white       : #FFFFFF;
    --greyLight   : #F6F6F7;
    --grey        : #CDCDCD;
    --greyHeavy   : #333333;
    --black       : #000000;
    --warning     : #FFCB04;
    --warningLight: #FFF5CF;
    --alert       : #9D100F;
    --alertLight  : #F5E5E8;
    --focus       : #0c99ff;
    /* SHADOW VARIABLE */
    --shadow10    : 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

/* UTILITY CLASSES */
.sr-only {
    position: absolute;
    width   : 1px;
    height  : 1px;
    padding : 0;
    margin  : -1px;
    overflow: hidden;
    clip    : rect(0, 0, 0, 0);
    border  : 0;
}

/* UTILITY CLASSES TO STRIP MARGIN FROM ONE SIDE OF AN ELEMENT */
.mr-0 {
    margin-right: 0;
}

.ml-0 {
    margin-left: 0;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

/* UTILITY CLASSES TO STRIP PADDING FROM ONE SIDE OF AN ELEMENT */
.pr-0 {
    padding-right: 0;
}

.pl-0 {
    padding-left: 0;
}

.pt-0 {
    padding-top: 0;
}

.pb-0 {
    padding-bottom: 0;
}