/* fieldset.NDISfieldset {
    border : 0;
    padding: 0;
    width  : 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.NDISlabel {
    font-weight: 400;
    font-family: '72 Bold';
    margin-top	: 16px;
}


.NDIStextInput,
.NDIStextAreaInput {
    border       : 1px solid var(--black);
    border-radius: 4px;
    padding      : 13px 2%;
  	margin-top	: 12px;
    font-family: '72 Light';
    font-weight: 100;
}

.NDIStextInput:hover,
.NDIStextAreaInput:hover {
    border-color : var(--purple);
}

.NDIStextInput:active,
.NDIStextAreaInput:active {
    border       : 2px solid var(--purpleHeavy);
    padding      : 12px 15px;
}

fieldset.NDISfieldset small
{
 	
    text-align: right
} */