/* LEGEND STYLES */

.NDISlegend {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 0 auto 20px;
    border-radius: 0;
    text-align: right;
}

.NDISlegend .NDISlegendInput {
    position: absolute;
    opacity: 0;
}

.NDISlegend .NDISlegendLabel {
    color: var(--purpleHeavy);
    font-size: 1em;
    font-family: '72 Regular';
    font-weight: 100;
    transition: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.NDISlegendLabel:before {
    font-family: 'Material Symbols Rounded';
    content: "\e5cb";
    font-size: 24px;
    position: absolute;
    left: 4px;
    transition: 300ms linear;
}

.NDISlegendInput:checked+.NDISlegendLabel:before {
    transform: rotate(-180deg);
}

.NDISlegend .NDISlegendLabel:hover {
    text-decoration: underline;
    color: var(--purple);
}

.NDISlegendItem,
.NDISlegendLabel {
    padding: 1em 1em 1em 0em;
    font-size: 1em;
    line-height: 1em;
    display: inline-block;
}

.NDISlegendLabel {
    padding: 1em 1em 1em 2em;
}

.NDISlegendItem span {
    background: var(--purpleHeavy);
    border-radius: 2em;
    width: 2em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
}

.NDISlegendItemWrapper {
    overflow: hidden;
}

.NDISlegendItemWrapper .NDISlegendItemWrapperInternal {
    text-align: right;
    display: block;
    transition: transform 300ms;
}

.NDISlegendInput:not(:checked)~.NDISlegendItemWrapper .NDISlegendItemWrapperInternal {
    transform: translateX(1200px);
}

.NDISlegendInput:checked~.NDISlegendItemWrapper .NDISlegendItemWrapperInternal {
    transform: translateX(0px);
}

@media only screen and (max-width : 414px) {
    .NDISlegendInput:not(:checked)~.NDISlegendItemWrapper .NDISlegendItemWrapperInternal {
        transform: translateY(-600px);
    }

    .NDISlegendInput:checked~.NDISlegendItemWrapper .NDISlegendItemWrapperInternal {
        transform: translateY(0px);
    }

    .NDISlegend {
        display: inline-block;
    }

    .NDISlegendLabel {
        float: right;
    }

    .NDISlegend,
    .NDISlegendLabel,
    .NDISlegendInput {
        float: right
    }

    .NDISlegendItem,
    .NDISlegendItemWrapper {
        float: right;
        clear: both;
    }

    .NDISlegendLabel:before {
        content: "\e5cf";
    }

    .NDISlegendInput:checked+.NDISlegendLabel:before {
        transform: rotate(-180deg);
    }
}