a {
    color          : var(--purpleHeavy);
    text-decoration: underline;
}

a:hover {
    color          : var(--purple);
    text-decoration: none;
}

a[target="_blank"]:after {
    font-family   : 'Material Symbols Rounded';
    content       : "\e89e";
    display       : inline-block;
    font-size     : 1.25em;
    margin-left   : 0.125em;
    vertical-align: middle;
}

a.standaloneLink {
    display: inline-block;
    padding: 16px 22px;
}

a.standaloneLink[target="_blank"]:after
{
    display: none;
}

a.standaloneLink span {
    vertical-align: middle;
    margin-left   : 0.125em;
}