.NDIStable {
    border-collapse: collapse;
}

.NDIStable th,
.NDIStable td,
table.NDIStableSortable th.no-sort,
table.NDIStableSortable th button {
    text-align: left;
    padding: 16px;
}

table.NDIStableSortable th {
    padding: 0px;
}

.NDIStable thead th,
.NDIStable tfoot td,
.NDIStable tfoot th {
    font-family: '72 Bold';
    font-weight: 400;
}

.NDIStable thead th {
    border-bottom: 2px solid var(--purpleHeavy);
}

.NDIScardCallout thead th {
    border-bottom: 2px solid var(--black);
}

.NDIStable th:first-child,
table.NDIStableSortable th:first-child button,
.NDIStable td:first-child {
    padding-left: 0px;
}

.NDIStable td,
.NDIStable th {
    border-bottom: 1px solid var(--grey);
    font-family: '72 Regular';
    font-weight: 400;
}

.NDIStable tfoot tr td,
.NDIStable tfoot tr th {
    border-bottom: none;
}

.NDIStable tr.NDIStable_callout tfoot td,
.NDIStable tr.NDIStable_callout tfoot th {
    font-size: 24px;
}

.NDIStable.NDIStable_striped tr:nth-child(even) {
    background-color: var(--greyLight);
}

.NDIStable {
    border-collapse: collapse;
}

.NDIStable th,
.NDIStable td,
table.NDIStableSortable th.no-sort,
table.NDIStableSortable th button {
    text-align: left;
    padding: 16px;
}

table.NDIStableSortable th {
    padding: 0px;
}

.NDIStable thead th,
.NDIStable tfoot td,
.NDIStable tfoot th {
    font-family: '72 Bold';
    font-weight: 400;
}

.NDIStable thead th {
    border-bottom: 2px solid var(--purpleHeavy);
}

.NDIScardCallout thead th {
    border-bottom: 2px solid var(--black);
}

.NDIStable th:first-child,
table.NDIStableSortable th:first-child button,
.NDIStable td:first-child {
    padding-left: 0px;
}

.NDIStable td,
.NDIStable th {
    border-bottom: 1px solid var(--grey);
    font-family: '72 Regular';
    font-weight: 400;
}

.NDIStable tfoot tr td,
.NDIStable tfoot tr th {
    border-bottom: none;
}

.NDIStable tr.NDIStable_callout tfoot td,
.NDIStable tr.NDIStable_callout tfoot th {
    font-size: 24px;
}

.NDIStable.NDIStable_striped tr:nth-child(even) {
    background-color: var(--greyLight);
}

table.NDIStableSortable th {
    position: relative;
}

table.NDIStableSortable th.no-sort {
    vertical-align: top;
    line-height: 24px;
}

table.NDIStableSortable th button {
    background: transparent;
    border: none;
    width: 100%;
    text-align: left;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    padding-right: 32px;
    color: var(--black);
    text-decoration: none;
    border-radius: 0;
    font-family: '72 Regular';
}

table.NDIStableSortable th button {
    text-decoration: none;
}

table.NDIStableSortable th button span.thWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 40px;
    min-width: 125px;
}

table.NDIStableSortable th button:hover {
    color: var(--black);
    text-decoration: underline;
}

table.NDIStableSortable th button span.thLabel span.thIcon:after {
    margin-left: 4px;
    display: inline-block;
    content: "\e5d7";
    font-family: 'Material Symbols Rounded';
    color: var(--purpleHeavy);
    font-size: 16px;
    vertical-align: text-bottom;
}

.NDIStable.NDIStableSortable thead th {
    font-family: '72 Regular';
}

table.NDIStableSortable td.num {
    text-align: right;
}

/* Focus and hover styling */


table.NDIStableSortable th.ascending button,
table.NDIStableSortable th.descending button {
    color: var(--black);
    font-family: '72 Bold';
}

table.NDIStableSortable th span:nth-of-type(2),
table.NDIStableSortable th span:nth-of-type(2):hover,
table.NDIStableSortable th span:nth-of-type(3),
table.NDIStableSortable th span:nth-of-type(3):hover {
    display: block;
    color: var(--black);
    font-family: '72 Regular';
    font-size: 14px;
}

/* Focus and hover styling */


table.NDIStableSortable th[aria-sort="ascending"] button,
table.NDIStableSortable th[aria-sort="descending"] button {
    color: var(--black);
    font-family: '72 Bold';
}

table.NDIStableSortable th span:nth-of-type(2),
table.NDIStableSortable th span:nth-of-type(2):hover,
table.NDIStableSortable th span:nth-of-type(3),
table.NDIStableSortable th span:nth-of-type(3):hover {
    display: block;
    color: var(--black);
    font-family: '72 Regular';
    font-size: 14px;
}