.NDIStabs {
    font-family: '72 Regular';
    font-size: 1em;
    text-decoration: none;
}

.NDIStabs [role="tablist"] {
  min-width: 550px;
  border-bottom: 1px solid var(--grey)
}

.NDIStabs [role="tab"]
{
    color: var(--purpleHeavy);
    background: none;
    border-radius: 0;
    /* position: relative; */
  z-index: 2;
  margin: 4px 16px 0 0;
  padding: 12px 8px 12px 8px;
  overflow: visible;
  color: var(--purpleHeavy);
  transition: none;
}

.NDIStabs [role="tab"]:focus,
.NDIStabs [role="tab"]:hover {
  color: var(--purple);
  border-bottom: 4px solid var(--purple);
}

.NDIStabs [role="tab"][aria-selected="true"] {
  margin-top: 0;
  border-bottom: 4px solid var(--purpleHeavy);
  padding-bottom: 8px;
  color: var(--black);
}

.NDIStabs [role="tab"][aria-selected="false"] {
  border-bottom: none;
  color: var(--purpleHeavy);
}

.NDIStabs [role="tab"][aria-selected="false"]:hover {
    border-bottom: 3px solid var(--black);
    padding-bottom: 9px;
    color: var(--purple);
}

.NDIStabs [role="tab"] span.focus {
  display: inline-block;
  margin: 2px;
  padding: 4px 6px;
}

.NDIStabs [role="tabpanel"] {
  padding: 1em 0;
  min-height: 5em;
  min-width: 550px;
  overflow: visible;
}

.NDIStabs [role="tabpanel"].is-hidden {
  display: none;
}

.NDIStabs [role="tabpanel"] p {
  margin: 0;
}