fieldset.NDIStoggleFieldset
{
    display: flex;
    border: 0;
    padding: 0;
}  
  .NDIStoggle[aria-pressed] {
    display: block;
    box-sizing: border-box;
    border: none;
    color: inherit;
    background: none;
    font: inherit;
    line-height: inherit;
    text-align: left;
    padding: .4em 0 .4em 4em;
    cursor: pointer;
    position: relative;
    margin-left: 1em;
    margin-top: -0.25em;
  }
  
  .NDIStoggle[aria-pressed][disabled],
  .NDIStoggle[aria-pressed][disabled]:hover {
    color: #999;
  }
  
  .NDIStoggle[aria-pressed]:focus,
  .NDIStoggle[aria-pressed]:hover {
    color: #00f;
    outline: none;
  }
  
  .NDIStoggle[aria-pressed]:hover::before {
    box-shadow: 0 0 0.5em #333;
  }
  .NDIStoggle[aria-pressed]:focus::before
  {
    outline       : 3px solid var(--focus);
    outline-offset: 5px;
    transition    : none;
}

.NDIStoggle[aria-pressed]:focus:not(:focus-visible)::before
  {
    outline: 0;
}

  .NDIStoggle[aria-pressed]:focus::after,
  .NDIStoggle[aria-pressed]:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='50' fill='rgba(0,0,0,.25)'/%3E%3C/svg%3E");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .NDIStoggle[aria-pressed]::before,
  .NDIStoggle[aria-pressed]::after {
    content: "";
    position: absolute;
    height: 1.5em;
    transition: all 0.25s ease;
  }
  
  .NDIStoggle[aria-pressed]::before {
    left: 0;
    top: 0.2em;
    width: 4em;
    border: 0.2em solid var(--black);
    background: var(--black);
    border-radius: 1.1em;
  }
  
  .NDIStoggle[aria-pressed]::after {
    left: -0.225em;
    top: 0.05em;
    background-color: #fff;
    background-position: center center;
    border-radius: 50%;
    width: 2.15em;
    height: 2.15em;
    box-shadow   : 0px 0px 5px rgb(0, 0, 0, 0.7);
  }
  
  .NDIStoggle[aria-pressed=true]::after {
    left: 2.4em;
    border-color: var(--purpleHeavy);
    color: var(--purpleHeavy);
  }
  
  .NDIStoggle[aria-pressed=true]::before {
    background-color: var(--purpleHeavy);
    border-color: var(--purpleHeavy);
  }
  .NDIStoggle span
  {
    position: absolute;
    opacity: 1;
    color: white;
    transition: opacity 300ms ease;
    top: 0.3em;
    font-family: '72 Bold';
  }
  .NDIStoggle span:first-of-type
  {
    right: 0.4em;
  }
  .NDIStoggle span:last-of-type
  {
    left: 0.65em;
  }
  
  .NDIStoggle[aria-pressed=true] span:first-of-type, .NDIStoggle[aria-pressed=false] span:last-of-type
  {
    opacity: 0;
  }
  
  .NDIStoggle[aria-pressed][disabled]::before {
    background-color: transparent;
    border-color: #ddd;
  }
  
  .NDIStoggle[aria-pressed][disabled]::after {
    border-color: #ddd;
  }
  
  .NDIStoggle[aria-pressed][disabled]:hover {
    color: #999; /* case for CSS custom property if not supporting IE/Edge */
  }
  
  .NDIStoggle[aria-pressed][disabled]:hover::before {
    box-shadow: none;
  }
  
  .NDIStoggle[aria-pressed][disabled]:hover::after {
    background-image: none;
  }
  
  /* Windows High Contrast Mode Support */
  @media screen and (-ms-high-contrast: active) {
    .NDIStoggle [aria-pressed]:focus::before,
    .NDIStoggle [aria-pressed]:hover::before {
      outline: 1px dotted windowText;
      outline-offset: 0.25em;
    }
    .NDIStoggle [aria-pressed]::after {
      background-color: windowText;
    }
    .NDIStoggle [aria-pressed][disabled]::after {
      background-color: transparent;
    }
  }
  
  /* Reduced motion */
  @media screen and (prefers-reduced-motion: reduce) {
    .NDIStoggle [aria-pressed]::before,
    .NDIStoggle [aria-pressed]::after {
      transition: none;
    }
  }
  
  /* Dark mode */
  @media screen and (prefers-color-scheme: dark) {
    form {
      background-color: var(--black);
    }
    .NDIStoggle {
      color: #fff;
    }
    fieldset.NDIStoggle {
      border: 0.1em solid rgba(255, 255, 255, 0.15);
    }
    .NDIStoggle [aria-pressed]:focus,
    .NDIStoggle [aria-pressed]:hover {
      color: #99f;
    }
    .NDIStoggle [aria-pressed]::before {
      border-color: #808080;
      background: #808080;
    }
    .NDIStoggle [aria-pressed]::after {
      background-color: #101010;
    }
    .NDIStoggle [aria-pressed]:focus::after,
    .NDIStoggle [aria-pressed]:hover::after {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='50' fill='rgba(255,255,255,.25)'/%3E%3C/svg%3E");
    }
    .NDIStoggle [aria-pressed][disabled]::before,
    .NDIStoggle [aria-pressed][disabled]::after {
      border-color: #555;
    }
  }
  