/* TOGGLE STYLES */

.NDIStoggle {
    --width      : 70px;
    --height     : 28px;
    position     : absolute;
    display      : inline-block;
    width        : var(--width);
    height       : var(--height);
    border-radius: var(--height);
    cursor       : pointer;
    font-family  : '72 Bold';
    font-weight  : 400;

}

.NDIStoggle input {
    display: none;
}

.NDIStoggle .slider {
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    border-radius   : var(--height);
    background-color: var(--purpleHeavy);
    transition      : all 0.4s ease-in-out;
}

.NDIStoggle .slider::before {
    content         : '';
    position        : absolute;
    top             : -1px;
    left            : 0;
    width           : 30px;
    height          : 30px;
    border-radius   : 30px;
    background-color: var(--white);
    box-shadow      : 0px 1px 3px rgba(0, 0, 0, 0.5);
    transition      : all 0.2s ease-in-out;
}

.NDIStoggle input:checked+.slider {
    background-color: var(--black);
}

.NDIStoggle input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
}

.NDIStoggle .labels {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    font-size : 16px;
    transition: all 0.4s ease-in-out;
}

.NDIStoggle .labels::after {
    content : attr(data-off);
    position: absolute;
    right   : 8px;
    color   : var(--white);
    ;
    opacity   : 1;
    transition: all 0.4s ease-in-out;
}

.NDIStoggle .labels::before {
    content   : attr(data-on);
    position  : absolute;
    left      : 8px;
    color     : var(--white);
    opacity   : 0;
    transition: all 0.4s ease-in-out;
}

.NDIStoggle input:checked~.labels::after {
    opacity: 0;
}

.NDIStoggle input:checked~.labels::before {
    opacity: 1;
}