/* Import colour variables, fonts, icon font file */
@import url(css/foundations.css);
/* Import typographic styles */
@import url(css/typography.css);
/* Import Button component styles */
@import url(css/buttons.css);
/* Import Button Group component styles */
@import url(css/buttonGroup.css);
/* Import Cards component styles */
@import url(css/cards.css);
/* Import global Focus state styles */
@import url(css/focus.css);
/* Import Inputs component styles */
@import url(css/inputs.css);
/* Import Instalment Summary component styles */
@import url(css/instalmentSummary.css);
/* Import Legend component styles */
@import url(css/legend.css);
/* Import Link component styles */
@import url(css/links.css);
/* Import Lozenge component styles */
@import url(css/lozenge.css);
/* Import Pill component styles */
@import url(css/pills.css);
/* Import Tables component styles */
@import url(css/tables.css);
/* Import Toggle component styles */
@import url(css/toggle.css);

/* BASE BODY STYLE FOR ZEROHEIGHT DEMO CONTAINERS */
body {
    background : var(--white);
    font-family: "72 Regular";
    font-size  : 16px;
    line-height: 28px;
    color      : var(--black);
    padding    : 1em;
}