/* IMPORT FONTS */
@font-face {
    font-family: "72 Regular";
    src        : url('https://andrewrlaw.github.io/72-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "72 Light";
    src        : url('https://andrewrlaw.github.io/72-Light.ttf') format('truetype');
}

@font-face {
    font-family: "72 Bold";
    src        : url('https://andrewrlaw.github.io/72-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "72 Black";
    src        : url('https://andrewrlaw.github.io/72-Black.ttf') format('truetype');
}

/* COLOUR VARIABLES */
:root {
    --purpleHeavy : #6A2875;
    --purpleLight : #F2E7F4;
    --purple      : #8631A8;
    --tealHeavy   : #007C89;
    --tealLight   : #EDF6F7;
    --white       : #FFFFFF;
    --greyLight   : #F6F6F7;
    --grey        : #CDCDCD;
    --greyHeavy   : #333333;
    --black       : #000000;
    --warning     : #FFCB04;
    --warningLight: #FFF5CF;
    --alert       : #9D100F;
    --alertLight  : #F5E5E8;
}

/* BASE BODY STYLE FOR ZEROHEIGHT DEMO CONTAINERS */
body {
    background : var(--white);
    font-family: "72 Regular";
    font-size  : 16px;
    line-height: 28px;
    color      : var(--black);
    padding    : 1em;
}

body .statusText
{
    color: var(--tealHeavy);
}

/* TYPOGRAPHIC STYLES */
h1 {
    font-family   : "72 Bold";
    font-weight   : 400;
    font-size     : 24px;
    letter-spacing: -0.063em;
    line-height   : 44px;
    color         : var(--black);
}

h2 {
    font-family   : "72 Bold";
    font-weight   : 400;
    font-size     : 18px;
    letter-spacing: -0.063em;
    line-height   : 36px;
    color         : var(--black);
}

h3 {
    font-family   : "72 Bold";
    font-weight   : 400;
    font-size     : 16px;
    letter-spacing: 0;
    line-height   : 28px;
    color         : var(--black);
}

.subheading {
    font-family   : "72 Regular";
    font-size     : 18px;
    letter-spacing: 0;
    line-height   : 28px;
    color         : var(--black);
}

.display {
    font-family   : "72 Light";
    font-size     : 49px;
    letter-spacing: 0;
    line-height   : 42px;
    color         : var(--tealHeavy);
}

.status {
    color: var(--tealHeavy);
}

a {
    color          : var(--purpleHeavy);
    text-decoration: underline;
    display        : inline-grid;
    grid-auto-flow : column;
    align-items    : center;
    justify-content: center;
    /* Sets the spacing between child grid items */
    grid-gap       : 4px;
}

a .material-symbols-outlined {
    font-size     : 1em;
    vertical-align: text-bottom;
}

a .material-symbols-outlined {
    font-size     : 1em;
    vertical-align: text-bottom;
}

a:hover {
    color          : var(--purple);
    text-decoration: none;
}

/* BUTTON STYLES */

button {
    border-radius: 4px;
    padding      : 16px 22px;
    border       : 0px;
    font-size    : 16px;
    transition   : 100ms ease-in-out;
    cursor       : pointer;
}

button:hover {
    text-decoration: underline;
}

button:disabled:hover {
    text-decoration: none;
}

button span.material-symbols-outlined {
    margin-right  : 8px;
    font-size     : 18px;
    vertical-align: text-bottom;
}

button.primary {
    background: var(--purpleHeavy);
    border    : 1px solid var(--purpleHeavy);
    color     : var(--white);

}

button.primary:hover {
    background  : var(--purple);
    border-color: var(--purple);
}

button.primary:active {
    background        : var(--purple);
    border-color      : var(--purple);
    -webkit-box-shadow: inset 0px 0px 5px 3px rgba(106, 40, 117, 1);
    -moz-box-shadow   : inset 0px 0px 5px 3px rgba(106, 40, 117, 1);
    box-shadow        : inset 0px 0px 5px 3px rgba(106, 40, 117, 1);
    text-decoration   : none;
}

button.primary:disabled {
    background: var(--grey);
    color     : var(--black);
    cursor    : not-allowed;
}

button.primary:disabled:hover {
    box-shadow: none;
}


.NDISinputGroup {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 20px;
    border-radius: 0;
}

.NDISinputGroup .NDISinputGroupButton {
    position: absolute;
    opacity: 0;
}

.NDISinputGroup .NDISinputGroupLabel {
    background: var(--white);
    color: var(--purpleHeavy);
    border: 1px solid var(--black);
    font-size: 1em;
    font-family: '72 Regular';
    font-weight: 100;
    padding: 16px 32px;
    transition: none;
    border-radius: 0px;
    display: inline-block;
    cursor: pointer;
}

.NDISinputGroup .NDISinputGroupWrapper:first-child .NDISinputGroupLabel {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.NDISinputGroup .NDISinputGroupWrapper:last-child .NDISinputGroupLabel {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.NDISinputGroup .NDISinputGroupLabel:hover {
    background: var(--greyLight);
    border-color: var(--purpleHeavy);
    color: var(--purpleHeavy);
    text-decoration: underline;
}

.NDISinputGroupButton:checked+.NDISinputGroupLabel {
    background: var(--purpleLight);
    border-color: var(--purpleHeavy);
    color: var(--black);
    -webkit-box-shadow: inset 0px 0px 9px 0px rgba(106, 40, 117, 0.7);
    box-shadow: inset 0px 0px 9px 0px rgba(106, 40, 117, 0.7);
    font-family: '72 Bold';
    font-weight: 400;
    text-decoration: none;
    padding: 16px 30px;
}

.NDISinputGroupWrapper {
    padding-bottom: 10px;
    margin-right: -1px;
    position: relative;
}

.NDISinputGroupWrapper.active {
    padding-bottom: 8px;
}

.NDISinputGroupWrapper:after {
    content: '';
    position: absolute;
    width: 100%;
    transition: transform 0.15s ease-in-out;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--purpleHeavy);
    transform-origin: bottom right;
}

.NDISinputGroupWrapper.active:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Secondary button styles */   
button.secondary {
    background: var(--white);
    padding   : 14px 20px;
    color     : var(--purpleHeavy);
    border    : 2px solid var(--purpleHeavy);
    transition: none;
}

button.secondary:hover {
    background: #ffffff;
    border    : 3px solid var(--purple);
    padding   : 13px 19px;
    color     : var(--purple);
}

button.secondary:active {
    padding: 13px 19px;
    border : 3px solid var(--black);
    color  : var(--black);
}


button.secondary:disabled,
button.secondary:disabled:hover {
    background: var(--greyLight);
    color     : var(--grey);
    padding   : 14px 20px;
    cursor    : not-allowed;
    border    : 2px solid var(--grey);
}


/* CARD STYLES */
.NDIScard {
    max-width    : 1200px;
    width        : auto;
    padding      : 32px;
    border       : 1px solid var(--grey);
    border-radius: 12px;
    box-shadow   : 0px 2px 10px rgb(0, 0, 0, 0.2)
}

.NDIScardBasic {
    background-color: var(--white);
}

.NDIScardCallout {
    background-color: var(--purpleLight);
}

a:focus,
button:focus,
table.NDIStableSortable th button:focus,
input:focus,
textarea:focus,
.NDISinputGroupButton.active input+label,
.NDISinputGroup input:focus+label,
.NDISlegendInput:focus+.NDISlegendLabel  {
    outline       : 3px solid #0c99ff;
    outline-offset: 2px;
    transition    : none;
}

.NDISinputGroup input:focus+label {
   
}

.NDISbuttonGroup span button:focus:not(:focus-visible),
input:focus:not(:focus-visible),
button:focus:not(:focus-visible),
.NDISinputGroupButton.active input+label:focus:not(:focus-visible),
.NDISinputGroup input:focus:not(:focus-visible)+label,
.NDISlegendInput:focus:not(:focus-visible)+.NDISlegendLabel
 {
    outline: 0;
}

/* Control the width of both cards with this container */
.NDIScardContainer {
    display: block;
    width  : 600px;
}

.NDIScardContainer .NDIScardBasic {
    position: relative;
    z-index : 100;
}

.NDISdrawer {
    width      : auto;
    max-width  : 1200px;
    position   : relative;
    margin-top : -24px;
    line-height: 1.6;
    background : var(--purpleLight);
    padding    : 16px 0 0 0;
    z-index    : 0;
}

.NDISdrawer h3 {
    margin: 0;
    padding: 16px 12px 12px 12px;
}

.NDISdrawer-trigger {
    background: none;
    display   : block;
    margin    : 0;
    position  : relative;
    text-align: left;
    width     : 100%;
}

.NDISdrawer h3 button {
    border-style: none;
    padding     : 24px 18px;
}

.NDISdrawer h3 button::-moz-focus-inner {
    border: 0;
}

.NDISdrawer button .NDISdrawer-title {
    font-family   : "72 Bold";
    font-weight   : 400;
    font-size     : 16px;
    letter-spacing: 0;
    line-height   : 28px;
    color         : var(--black);
    padding-left  : 32px;
}

.NDISdrawer-title {
    display       : block;
    pointer-events: none;
    outline       : none;
}

.NDISdrawer-title:before {
    font-family: 'Material Symbols Outlined';
    content    : "\e5cf";
    font-size  : 24px;
    position   : absolute;
    left       : 18px;
    transition : 300ms linear;
}

.NDISdrawer-trigger[aria-expanded="true"] .NDISdrawer-title:before {
    transform: rotate(-180deg);
}

.NDISdrawer-panel {
    margin: 0 36px 36px 36px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

/* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
.NDISdrawer-panel[hidden] {
    display: none;
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

.NDISdrawer-panel fieldset {
    border : 0;
    margin : 0;
    padding: 0;
}

.NDISdrawer-panel input {
    border       : 1px solid hsl(0, 0%, 62%);
    border-radius: 0.3em;
    display      : block;
    font-size    : inherit;
    padding      : 0.3em 0.5em;
}

/* TABLE STYLES */

.NDIStable {
    border-collapse: collapse;
}

.NDIStable caption {
    display: none;
}


.NDIStable th,
.NDIStable td,
table.NDIStableSortable th.no-sort,
table.NDIStableSortable th button {
    text-align: left;
    padding   : 16px;
}

table.NDIStableSortable th {
    padding: 0px;
}

table.NDIStableSortable th button,
.NDIStable thead th,
.NDIStable tfoot td, .NDIStable tfoot th,
table.NDIStableSortable th button {
    font-family: '72 Bold';
    font-weight: 400;
}

.NDIStable thead th,
table.NDIStableSortable thead th button {
    border-bottom: 2px solid var(--purpleHeavy);
}

.NDIScardCallout thead th {
    border-bottom: 2px solid var(--black);
}

.NDIStable th:first-child,
table.NDIStableSortable th:first-child button,
.NDIStable td:first-child {
    padding-left: 0px;
}

.NDIStable td, .NDIStable th {
    border-bottom: 1px solid var(--grey);
    font-family: '72 Regular';
    font-weight: 400;
}

.NDIStable tfoot tr td, .NDIStable tfoot tr th{
    border-bottom: none;
}

.NDIStable tr.NDIStable_callout tfoot td, .NDIStable tr.NDIStable_callout tfoot th {
    font-size: 24px;
}

.NDIStable.NDIStable_striped tr:nth-child(even) {
    background-color: var(--greyLight);
}

/* PILL STYLES */

.NDISpill {
    padding      : 8px 16px;
    color        : var(--black);
    border       : 1px solid var(--black);
    border-radius: 3em;
    font-family  : '72 Bold';
    font-weight  : 400;
}

.NDISpill.NDISpillSuccess {
    color       : var(--tealHeavy);
    border-color: var(--tealHeavy);
    background  : var(--tealLight);
}

.NDISpill.NDISpillError {
    color       : var(--alert);
    border-color: var(--alert);
    background  : var(--alertLight);
}

.NDISpill.NDISpillWarning {
    border-color: var(--warning);
    background  : var(--warningLight);
}

button.NDISpill {
    border-color: var(--purpleHeavy);
    color       : var(--purpleHeavy);
    background  : var(--white);
    transition  : none;
}

button.NDISpill span {
    margin: 0px;
}

button.NDISpill:hover {
    border-width: 2px;
    padding     : 7px 15px;
}

button.NDISpill:active {
    border-width   : 2px;
    padding        : 7px 15px;
    color          : var(--purple);
    border-color   : var(--purple);
    text-decoration: none;
}

/* LOZENGE STYLES */

.NDISlozenge {
    padding         : 8px;
    background-color: var(--tealLight);
    color           : var(--tealHeavy);
    font-family     : '72 Bold';
    font-weight     : 400;
    border-radius   : 4px;
}


/* TOGGLE STYLES */

.NDIStoggle {
    --width      : 70px;
    --height     : 28px;
    position     : absolute;
    display      : inline-block;
    width        : var(--width);
    height       : var(--height);
    border-radius: var(--height);
    cursor       : pointer;
    font-family  : '72 Bold';
    font-weight  : 400;

}

.NDIStoggle input {
    display: none;
}

.NDIStoggle .slider {
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    border-radius   : var(--height);
    background-color: var(--purpleHeavy);
    transition      : all 0.4s ease-in-out;
}

.NDIStoggle .slider::before {
    content         : '';
    position        : absolute;
    top             : -1px;
    left            : 0;
    width           : 30px;
    height          : 30px;
    border-radius   : 30px;
    background-color: var(--white);
    box-shadow      : 0px 1px 3px rgba(0, 0, 0, 0.5);
    transition      : all 0.2s ease-in-out;
}

.NDIStoggle input:checked+.slider {
    background-color: var(--black);
}

.NDIStoggle input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
}

.NDIStoggle .labels {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    font-size : 16px;
    transition: all 0.4s ease-in-out;
}

.NDIStoggle .labels::after {
    content : attr(data-off);
    position: absolute;
    right   : 8px;
    color   : var(--white);
    ;
    opacity   : 1;
    transition: all 0.4s ease-in-out;
}

.NDIStoggle .labels::before {
    content   : attr(data-on);
    position  : absolute;
    left      : 8px;
    color     : var(--white);
    opacity   : 0;
    transition: all 0.4s ease-in-out;
}

.NDIStoggle input:checked~.labels::after {
    opacity: 0;
}

.NDIStoggle input:checked~.labels::before {
    opacity: 1;
}

fieldset.NDISfieldset {
    border : 0;
    padding: 0;
    width  : 400px;
}

.NDISlabel {
    font-weight: 400;
    font-family: '72 Bold';
    margin-top : 16px;
    display    : block;
}

.NDIStextInput,
.NDIStextAreaInput {
    border       : 1px solid var(--black);
    border-radius: 4px;
    padding      : 13px 16px;
    margin-top   : 12px;
}

.NDIStextInput:hover,
.NDIStextAreaInput:hover {
    border-color: var(--purple);
}

.NDIStextInput:active,
.NDIStextAreaInput:active {
    border : 2px solid var(--purpleHeavy);
    padding: 12px 15px;
}

/* LEGEND STYLES */

.NDISlegend {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 0 auto 20px;
    border-radius: 0;
    text-align: right;
}

.NDISlegend .NDISlegendInput {
    position: absolute;
    opacity: 0;
}

.NDISlegend .NDISlegendLabel {
    color: var(--purpleHeavy);
    font-size: 1em;
    font-family: '72 Regular';
    font-weight: 100;
    transition: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.NDISlegendLabel:before {
    font-family: 'Material Symbols Outlined';
    content: "\e5cb";
    font-size: 24px;
    position: absolute;
    left: 4px;
    transition: 300ms linear;
}

.NDISlegendInput:checked+.NDISlegendLabel:before {
    transform: rotate(-180deg);
}

.NDISlegend .NDISlegendLabel:hover {
    text-decoration: underline;
    color: var(--purple);
}

.NDISlegendItem,
.NDISlegendLabel {
    padding: 1em 1em 1em 0em;
    font-size: 1em;
    line-height: 1em;
    display: inline-block;
}

.NDISlegendLabel {
    padding: 1em 1em 1em 2em;
}

.NDISlegendItem span {
    background: var(--purpleHeavy);
    border-radius: 2em;
    width: 2em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
}

.NDISlegendItemWrapper {
    overflow: hidden;
}

.NDISlegendItemWrapper .NDISlegendItemWrapperInternal {
    text-align: right;
    display: block;
    transition: transform 300ms;
}

.NDISlegendInput:not(:checked)~.NDISlegendItemWrapper .NDISlegendItemWrapperInternal {
    transform: translateX(1200px);
}

.NDISlegendInput:checked~.NDISlegendItemWrapper .NDISlegendItemWrapperInternal {
    transform: translateX(0px);
}

@media only screen and (max-width : 414px) {
    .NDISlegendInput:not(:checked)~.NDISlegendItemWrapper .NDISlegendItemWrapperInternal {
        transform: translateY(-600px);
    }

    .NDISlegendInput:checked~.NDISlegendItemWrapper .NDISlegendItemWrapperInternal {
        transform: translateY(0px);
    }

    .NDISlegend {
        display: inline-block;
    }

    .NDISlegendLabel {
        float: right;
    }

    .NDISlegend,
    .NDISlegendLabel,
    .NDISlegendInput {
        float: right
    }

    .NDISlegendItem,
    .NDISlegendItemWrapper {
        float: right;
        clear: both;
    }

    .NDISlegendLabel:before {
        content: "\e5cf";
    }

    .NDISlegendInput:checked+.NDISlegendLabel:before {
        transform: rotate(-180deg);
    }
}