@font-face {
font-family: "72 Regular";
src:url('https://andrewrlaw.github.io/72-Regular.ttf') format('truetype');
}
@font-face {
font-family: "72 Light";
src:url('https://andrewrlaw.github.io/72-Light.ttf') format('truetype');
}
@font-face {
font-family: "72 Bold";
src:url('https://andrewrlaw.github.io/72-Bold.ttf') format('truetype');
}
@font-face {
font-family: "72 Black";
src:url('https://andrewrlaw.github.io/72-Black.ttf') format('truetype');
}

:root {
    --purpleHeavy:  #6A2875;
    --purpleLight:  #F2E7F4;
    --purple:       #8631A8;
    --tealHeavy:    #007C89;
    --tealLight:    #EDF6F7;
    --white:        #FFFFFF;
    --greyLight:    #F6F6F7;
    --grey:         #FFFFFF;
    --greyHeavy:    #333333;
    --black:        #000000;
    --yellow:       #FFCB04;
    --red:          #9D100F;
  }

body{
    background: var(--white);
    font-family: "72 Light";
    font-size: 16px/1em;
    line-height: 28px;
    color: var(--black);
    padding: 1em; 
}

a{
  color: var(--purpleHeavy);
  text-decoration: underline;
}
a:hover{
    color: var(--purple);
    text-decoration: none;
}


h1{
  font-family: "72 Bold";
  font-size: 24px;
  letter-spacing: -0.063em;
  line-height: 44px;
  color: var(--black);
}
h2{
  font-family: "72 Bold";
  font-size: 18px;
  letter-spacing: -0.063em;
  line-height: 36px;
  color: var(--black);
}
h3{
  font-family: "72 Bold";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  color: var(--black);
}

.subheading{
  font-family: "72 Light";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
  color: var(--black);
}

.display{
  font-family: "72 Light";
  font-size: 49px;
  letter-spacing: 0;
  line-height: 42px;
  color: var(--tealHeavy);
}

button{
    border-radius: 4px;
    padding: 16px 22px;
    border: 0px;
    font-size: 16px;
    transition: 100ms ease-in-out;
    cursor: pointer;
  }
  button i
    {
  margin-right: 6px;
}
  button.primary
  {
    background: var(--purpleHeavy);
    color: var(--white);

  }
  button.primary:hover
  {
    background: var(--purple);
  }
  button.primary:active
  {
    background: var(--black);
  }
  button.primary:disabled
  {
    background: #CDCDCD;
    color: var(--black);
    cursor:not-allowed;
  }
  button.secondary
  {
    background: #ffffff;
    padding: 14px 20px;
    color: #6A2875;
    border: 2px solid #6A2875;
    transition: none;
  }
  button.secondary:hover
  {
    background: #ffffff;
    border: 3px solid #8631A8;
    padding: 13px 19px;
    color: #8631A8;
  }
  button.secondary:active
  {
    padding: 13px 19px;
    border: 3px solid #000000;
    color: #000000
  }
  button.secondary:disabled, button.secondary:disabled:hover
  {
    background: #F6F6F7;
    color: #CDCDCD;
    padding: 14px 20px;
    cursor:not-allowed;
    border: 2px solid #CDCDCD;
  }

  .NDISdrawer__title:focus
{
  outline: 0;
}
  body a:focus, body button:focus, .NDISdrawer__title:focus .NDISdrawer__title h3 {
    outline: 3px solid #9263DE;
    outline-offset: 2px;
    }